.cart-items-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cart-drawer__inner {
  height: 100%;
  overflow: hidden;
}

.cart-drawer__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.cart-drawer__header {
  min-height: 6rem;
  padding: var(--padding-block, 1rem) var(--padding-inline, 1.6rem);
  border-bottom: 0.1rem solid rgb(var(--color-border)/var(--color-border-alpha));
}

.cart-drawer__items {
  padding: var(--padding-block, 2rem) var(--padding-inline, 1.6rem);
  display: flex;
  flex-direction: column;
}

.cart-drawer__empty {
  padding: var(--padding-block, 6rem) var(--padding-inline, 1.6rem);
}

.cart-drawer__summary {
  margin-top: auto;
}
.cart-drawer__summary.inherit-color-scheme {
  background-color: rgb(var(--color-background-secondary));
}
.cart-drawer__summary.inherit-color-scheme .cart-drawer__recommendation-products .product-card--horizontal {
  background-color: rgb(var(--color-background));
}
.cart-drawer__summary:not(.inherit-color-scheme) .cart-drawer__recommendation-products .product-card--horizontal {
  background-color: rgb(var(--color-background-secondary));
}
.cart-drawer__summary:has([data-has-recommendations=false]) {
  background: none;
}

.cart-drawer-summary__inner {
  padding: var(--padding-block, 2rem) var(--padding-inline, 1.6rem);
}

.cart-drawer-summary__addons {
  gap: 0.6rem;
  background: transparent;
  color: inherit;
}

.cart-drawer__addon-inner {
  padding: var(--padding-top, 2rem) var(--padding-inline, 1.6rem) var(--padding-bottom, 2.4rem);
}

.cart-drawer__free-shipping-goal {
  padding: var(--padding-block, 2rem) var(--padding-inline, 1.6rem) var(--padding-bottom, 0);
}

.cart-drawer__recommendation-wrapper {
  padding: var(--padding-block, 2rem) var(--padding-inline, 1.6rem);
}
.cart-drawer__recommendation-wrapper[data-has-recommendations=false] {
  display: none;
}
.cart-drawer__recommendation .carousel__controls--group {
  --carousel-controls-margin-top: 0;
}
.cart-drawer__recommendation .product-card--horizontal {
  --product-card-media-width: 6.2rem;
}
.cart-drawer__recommendation-heading {
  padding-bottom: 1.2rem;
}
.cart-drawer__recommendation-product {
  flex: 0 0 var(--cart-recommendation-product-width, 88%);
}
.cart-drawer__recommendation-products .product-card--horizontal {
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  border-radius: min(1rem, var(--cart-thumbnail-border-radius));
}
.cart-drawer__recommendation-product--placeholder {
  background-color: rgb(var(--color-foreground));
  min-height: 12rem;
  opacity: 0.025;
  border-radius: min(1rem, var(--cart-thumbnail-border-radius));
}
.cart-drawer__recommendation--single .cart-drawer__recommendation-product {
  --cart-recommendation-product-width: 100%;
}

.cart-summary__inner.show-seperator-line {
  border-top: 0.1rem solid rgb(var(--color-border)/var(--color-border-alpha));
}

@media (min-width: 1200px) {
  .cart-drawer__header {
    --padding-block: 1.6rem;
    --padding-inline: 2.4rem;
  }
  .cart-drawer-summary__inner,
  .cart-drawer__recommendation-wrapper,
  .cart-drawer__items {
    --padding-block: 2.4rem;
    --padding-inline: 2.4rem;
  }
  .cart-drawer__empty {
    --padding-block: 6rem;
    --padding-inline: 2.4rem;
  }
  .cart-drawer__addon-inner {
    --padding-top: 2.4rem;
    --padding-bottom: 4rem;
    --padding-inline: 2.4rem;
  }
  .cart-drawer__free-shipping-goal {
    --padding-block: 2.4rem;
    --padding-inline: 2.4rem;
  }
}
@media (max-width: 1023.98px) {
  .cart-drawer-summary__inner {
    border-radius: 2rem 2rem 0 0;
  }
  .cart-drawer__close:not(.cart-drawer__close--addon) {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    width: 6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-inline-start: 0.1rem solid rgb(var(--color-border)/var(--color-border-alpha));
  }
}
@media (min-width: 1200px) {
  .cart-drawer__recommendation .product-card--horizontal {
    --product-card-media-width: 8rem;
  }
  .cart-drawer__recommendation-product {
    --cart-recommendation-product-width: 72%;
  }
}
