/* ================================
   Custom Styles
   Bunie Theme
================================ */

.testimonial--image-stretch {
    padding: 12px;
    border: 1px solid #F681C4;
    background: linear-gradient(90deg, #FFF5FB 0%, #FFFFFF 100%);
}

@media (min-width: 1024px) {
    .collage-product-card-overlay__grid {
        max-width: 100% !important;
        gap: 12px;
    }
}

@media (max-width: 767.98px) {
    .collage-product-card-overlay__wrapper.swipe-mobile .swipe__inner {
        align-items: flex-end;
    }
}

@media (min-width: 768px) {

    .collage-product-card-overlay__cols {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        gap: 12px;
        align-items: end;
    }

    .collage-product-card-overlay__cols-first> :nth-child(even)>*,
    .collage-product-card-overlay__cols-last> :nth-child(odd)>* {
        margin-inline: auto;
        max-width: 100%;
    }

    .collage-product-card-overlay__cols-first> :nth-child(odd) .product-overlay-card>.media,
    .collage-product-card-overlay__cols-last> :nth-child(odd) .product-overlay-card>.media {
        --ratio: 3.5/4 !important;
    }

    .collage-product-card-overlay__cols-first> :nth-child(even) .product-overlay-card>.media,
    .collage-product-card-overlay__cols-last> :nth-child(even) .product-overlay-card>.media {
        --ratio: 3/4 !important;
    }

    .collage-product-card-overlay__cols-last {
        padding-top: 0;
    }

    .testimonial--inline .testimonial__media {
        flex: 0 0 35%;
    }
}