.blog-post__tags ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-post__tag {
  padding: 0.6rem 1.2rem;
  border-radius: 6rem;
  text-wrap-mode: nowrap;
}
.blog-post__tag.active {
  background: rgb(var(--color-secondary-button-background));
}

.blog-post .pagination {
  margin-block-start: 2.4rem;
}
.blog-post .section__header {
  margin-block-end: 3.2rem;
}
@media (min-width: 768px) {
  .blog-post .section__header {
    margin-block-end: 6rem;
  }
  .blog-post .pagination {
    margin-block-start: 4rem;
  }
}
